# npm run build output
dist
# npm install output
node_modules
# unnessecary folders
screenshots
scripts
test
# lambda and other config files
lib
bin
.git
.github
.gitignore
.npmignore
cdk.json
README.md
webpack.config.js
tsconfig.build.json
.prettierrc